<ay-treeTable [value]="files"  selectionMode="single" [(selection)]="selectedRows" (onNodeSelect)="nodeSelect($event)"
  [tableStyle]="{'table-layout': 'auto'}" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
  <ay-column field="name" header="Name">
    <ng-template let-col let-node="rowData" pTemplate="body">
      <span>{{node.data[col.field]}}</span>
    </ng-template>
  </ay-column>
  <ay-column field="size" header="Size"></ay-column>
  <ay-column field="type" header="Type"></ay-column>
</ay-treeTable>